@using FashionHelpers.CommonHelpers

@{
    var userName = FashionHelpers.CommonHelpers.PublicHelper.UserName;
    var carts = FashionHelpers.CommonHelpers.CartPublicHelper.CartList();
    var cartlist = FashionHelpers.CommonHelpers.CartPublicHelper.Carts();
    var userid = FashionHelpers.CommonHelpers.PublicHelper.UserId;
   
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title> Fashion Ecommerce </title>
    <!-- Favicon  -->
    <link rel="icon" href="~/Content/Essence/img/core-img/favicon.ico">
    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/Essence/css/core-style.css">
    <link rel="stylesheet" href="~/Content/Essence/style.css">
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="~/Home/index"><img src="~/Content/Essence/img/core-img/logo.png" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li>
                                <a href="~/Home/Shop">Shop</a>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Women's Collection</li>
                                        <li><a href="~/Home/Shop">Dresses</a></li>
                                        <li><a href="~/Home/Shop">Blouses &amp; Shirts</a></li>
                                        <li><a href="~/Home/Shop">T-shirts</a></li>
                                        <li><a href="~/Home/Shop">Rompers</a></li>
                                        <li><a href="~/Home/Shop">Bras &amp; Panties</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Men's Collection</li>
                                        <li><a href="~/Home/Shop">T-Shirts</a></li>
                                        <li><a href="~/Home/Shop">Polo</a></li>
                                        <li><a href="~/Home/Shop">Shirts</a></li>
                                        <li><a href="~/Home/Shop">Jackets</a></li>
                                        <li><a href="~/Home/Shop">Trench</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Kid's Collection</li>
                                        <li><a href="~/Home/Shop">Dresses</a></li>
                                        <li><a href="~/Home/Shop">Shirts</a></li>
                                        <li><a href="~/Home/Shop">T-shirts</a></li>
                                        <li><a href="~/Home/Shop">Jackets</a></li>
                                        <li><a href="~/Home/Shop">Trench</a></li>
                                    </ul>
                                    <div class="single-mega cn-col-4">
                                        <img src="~/Content/Essence/img/bg-img/bg-6.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                            <li><a href="~/Home/about">About us</a></li>
                            <li><a href="~/Home/Contact">Contact</a></li>
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                    <strong> @userName</strong>
                                </li>
                                <li>
                                    @Html.ActionLink("Sign Out", "Logout", "Account")
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink("Register", "Register", "Account")
                                </li>
                                <li>
                                    @Html.ActionLink("Sign In", "Login", "Account")
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="~/Home/search" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="#"><img src="~/Content/Essence/img/core-img/heart.svg" alt=""></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="#"><img src="~/Content/Essence/img/core-img/user.svg" alt=""></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    @if (Request.IsAuthenticated)
                    {
                        <a href="#" id="essenceCartBtn"><img src="~/Content/Essence/img/core-img/bag.svg" alt=""> <span>@cartlist.Count()</span></a>
                    }
                    else
                    {
                        <a href="#" id="essenceCartBtn"><img src="~/Content/Essence/img/core-img/bag.svg" alt=""> <span>0</span></a>
                    }
                </div>
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">
        @if (Request.IsAuthenticated)
        {
            <!-- Cart Button -->
            <div class="cart-button">
                <a href="#" id="rightSideCart"><img src="../Content/Essence/img/core-img/bag.svg" alt=""> <span>@cartlist.Count()</span></a>
            </div>
        }
        else
        {
            <!-- Cart Button -->
            <div class="cart-button">
                <a href="#" id="rightSideCart"><img src="../Content/Essence/img/core-img/bag.svg" alt=""> <span>0</span></a>
            </div>
        }


        @if (Request.IsAuthenticated)
        {
            <div class="cart-content d-flex">
                
                <!-- Cart List Area -->
                <div class="cart-list">
                    @foreach (var item in cartlist)
                    {
                        <!-- Single Cart Item -->
                    <div class="single-cart-item" style="margin-top:10px;">
                        @if (@item.c.CartStatusId == 1)
                        {
                            <a href="#" class="product-image">
                                <img src="~/ProductImage/@item.p.Image" class="cart-thumb" alt="">
                                <!-- Cart Item Desc -->
                                <div class="cart-item-desc">
                                    <span class="product-remove" onclick="Remove(@item.c.CartId)"><i class="fa fa-close" aria-hidden="true"></i></span>
                                    @*<span class="badge">@item.</span>*@
                                    <h6>@item.p.Description</h6>
                                    <p class="size">Size: @item.c.Size</p>
                                    <p class="color">Color: @item.c.Color</p>
                                    <p class="price">$@item.p.Price</p>
                                </div>
                            </a>
                        }
                    </div>
                    }

                </div>

                <!-- Cart Summary -->
                <div class="cart-amount-summary">
                    @{ 
                         var totalDiscount = cartlist.Sum(s => s.p.Discount);
                         var totalPrice = cartlist.Sum(s => s.p.Price);
                        var total = totalPrice - totalDiscount;

                    }
                    <h2>Summary</h2>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>$@totalPrice</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>discount:</span> <span>-@totalDiscount%</span></li>
                        <li><span>total:</span> <span>$@total</span></li>
                    </ul>
                    <div class="checkout-btn mt-100">
                        <a href="~/Home/checkout?id=@userid" class="btn essence-btn">check out</a>
                    </div>
                </div>
            </div>
        }

        @if (!Request.IsAuthenticated)
        {
            <div class="cart-content d-flex">

                <!-- Cart List Area -->
                <div class="cart-list">
                    <!-- Single Cart Item -->
                    <div class="single-cart-item">
                        <a href="#" class="product-image">
                            <img src="~/Content/Essence/img/core-img/noimage.jpg" class="cart-thumb" alt="">
                            <!-- Cart Item Desc -->
                            <div class="cart-item-desc">
                                <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                                <span class="badge">Unavaliable</span>
                                <h6>Unavaliable</h6>
                                <p class="size">Size: Unavaliable</p>
                                <p class="color">Color: Unavaliable</p>
                                <p class="price">$00.00</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Cart Summary -->
                <div class="cart-amount-summary">

                    <h2>Summary</h2>
                    <h3 style="margin-bottom:60px;">No Item in your cart !</h3>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>$000.00</span></li>
                        <li><span>delivery:</span> <span>Unavaliable</span></li>
                        <li><span>discount:</span> <span>-00%</span></li>
                        <li><span>total:</span> <span>$000.00</span></li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <!-- ##### Right Side Cart End ##### -->


    @RenderBody()

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="~/Home/Index"><img src="~/Content/Essence/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="~/Home/shop">Shop</a></li>
                                <li><a href="~/Home/about">About us</a></li>
                                <li><a href="~/Home/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here">
                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <script src="~/Content/sweetalert.min.js"></script>
    <script type="text/javascript">
        function Remove(clientId) {
            swal({
                title: "Are you sure?",
                text: "Once deletd , you will not be able to recover your Item!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            data: {
                                id: clientId
                            },
                            url: "/Home/Remove",
                            dataType: "json",
                            success: function (response) {
                                swal("Poof! that Your Item has been deleted!", {
                                    icon: "success",
                                }).then(function () {
                                    window.location.href = "/Home/Index"
                                });

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });

                    }
                    else {
                        swal("Your item is safe!");
                    }
                });
        }
                //function Remove() {
                //    swal({
                //        title: "Are you sure?",
                //        text: "Once you remove it from your cart list you will not get back!",
                //        icon: "warning",
                //        buttons: true,
                //        dangerMode: true,
                //    })
                //        .then((willAdd) => {
                //            if (willAdd) {
                //                $.ajax({
                //                    type: "GET",
                //                    url: "/Home/Remove",
                //                    contentType: "application/json; charset=utf-8",
                //                    dataType: "json",
                //                    success: function (response) {
                //                        swal("Poof! Your Item has been deleted!", {
                //                            icon: "success",
                //                        }).then(function () {
                //                            window.location.href = "/Home/Index"
                //                        });
                //                    },
                //                    failure: function (response) {
                //                        alert(response.responseText);
                //                    },
                //                    error: function (response) {
                //                        alert(response.responseText);
                //                    }
                //                });
                //            }
                //            else {
                //                swal("You said NO !");
                //            }
                //        });
                //}
    </script>
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="~/Content/Essence/js/jquery/jquery-2.2.4.min.js"></script>

    <!-- Popper js -->
    <script src="~/Content/Essence/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/Essence/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/Content/Essence/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="~/Content/Essence/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="~/Content/Essence/js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>
</html>




















































































@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
