
@{
    var profileName = FashionHelpers.CommonHelpers.PublicHelper.GetActiveUser();
    var notification = FashionHelpers.CommonHelpers.NotificationPublucHelper.Notification();
    var userProfile = FashionHelpers.CommonHelpers.NotificationPublucHelper.newuser();
    var notecount = @notification.Where(n => n.notification.Ischecked == true).Count();
    var profile = @userProfile.Where(n => n.isNew == true).Count();
    var alert = @notecount + @profile;
    
}

<!-- begin::navbar -->
<nav class="navbar">

    <div class="navbar-brand-wrapper">
        <a href="#" class="navbar-brand">
            <img src="~/Assets/media/img/white-logo.png" alt="...">
        </a>
        <a href="#" class="navbar-brand mobile-navbar-brand">
            <img src="~/Assets/media/img/mobile-white-logo.png" alt="...">
        </a>
        <div class="aside-toggler">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>

    <div class="navbar-menu-wrapper">
        <div class="navbar-menu">
            <ul class="mobile-navbar-toggler">
                <li>
                    <a href="#">
                        <i class="ti-arrow-down"></i>
                    </a>
                </li>
            </ul>
            <ul>
            </ul>
        </div>

        <div class="navbar-tools">
            <ul>
                <li class="navbar-search dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="ti-search"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul>
                            <li>
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search by staff ">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="ti-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="user-notifications dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        @if (Request.IsAuthenticated)
                        {
                            <span class="badge badge-danger badge-pill">
                                @alert
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-danger badge-pill">None</span>
                        }

                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-title">
                            Notifications
                            <a href="/Admin/GetProfile">Mark all read</a>
                        </div>
                        <div class="dropdown-menu-body">
                            @if (Request.IsAuthenticated)
                            {
                                <ul>
                                    @foreach (var item in notification)
                                    {
                                        <li>
                                            @if (@item.notification.Ischecked == true)
                                            {
                                                <a class="dropdown-item p-t-10 p-b-10 d-flex align-items-center" href="/Admin/GetProfile">
                                                    <span class="icon-block m-r-15 icon-block-sm icon-block-floating">
                                                        <i class="fa fa-user-o"></i>
                                                    </span>
                                                    <div class="line-height-8">
                                                        <h4>New product</h4> <br />
                                                        <h4>@item.p.Name</h4> <br />
                                                        <h6>@item.p.Description</h6>
                                                        <small class="text-muted">@item.p.AddedOn</small>
                                                    </div>
                                                </a>
                                            }
                                        </li>
                                    }
                                </ul>
                                <ul>
                                    @foreach (var item in userProfile)
                                    {
                                        <li>
                                            @if (@item.isNew == true)
                                            {
                                                <a class="dropdown-item p-t-10 p-b-10 d-flex align-items-center" href="/Admin/GetProfile">
                                                    <span class="icon-block m-r-15 icon-block-sm icon-block-floating">
                                                        <i class="fa fa-file-o"></i>
                                                    </span>
                                                    <div class="line-height-8">
                                                        <h1>New Customer</h1> <br />
                                                        <h3>@item.FirstName</h3><br />
                                                        <h6>@item.AddedON</h6>
                                                        <small class="text-muted">@item.AddedON</small>
                                                    </div>
                                                </a>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <ul>
                                    <li>
                                        <a class="dropdown-item p-t-10 p-b-10 d-flex align-items-center" href="#">
                                            <span class="icon-block m-r-15 icon-block-sm icon-block-floating">
                                                <i class="fa fa-file-o"></i>
                                            </span>
                                            <div class="line-height-8">
                                                <h6>Not Authenticated </h6>
                                                <small class="text-muted">Not Authenticated</small>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            }
                        </div>
                        <a href="/Admin/GetProfile" class="dropdown-item text-center">
                            View all <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>
                <li class="user-profile dropdown">
                    <a href="#" data-toggle="dropdown">
                        <figure class="avatar avatar-state-success avatar-sm">
                            @if (Request.IsAuthenticated)
                            {
                                <img class="rounded-circle" src="~/Passports/@profileName.ImageName" width="30" , height="30" alt="">
                            }
                            else
                            {
                                <span class="avatar-title bg-primary rounded-circle">l</span>
                            }
                        </figure>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-title">
                            @if (Request.IsAuthenticated)
                            {
                                <strong>Welcome @profileName.UserName</strong>
                            }
                            else
                            {
                                <span>Account</span>
                            }

                        </div>
                        <div class="dropdown-menu-body">
                            <ul>
                                <li>
                                    <a class="dropdown-item" href="~/Admin/GetProfile">
                                        <i class="icon fa fa-user-o"></i> Profile
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" href="~/Account/Logout">
                                            <i class="icon fa fa-sign-out"></i> Logout
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="~/Account/Register">
                                            <i class="icon fa fa-sign-in"></i> Register
                                        </a>
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="mobile-aside-toggler">
                    <a href="#">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- end::navbar -->
<!-- Popup for Notifictios -->

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete ?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-view" style="display: none">
</div>
<!-- Popup for Notifictios -->