@using X.PagedList.Mvc
@using X.PagedList
@model IEnumerable<FashionWeb.Models.HomeViewModel>

@{
    ViewBag.Title = "Shop";

}

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="~/Content/Essence/js/jquery/jquery-2.2.4.min.js"></script>

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(../Content/Essence/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>dresses</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                  
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Catagories</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->

                                <li data-toggle="collapse" data-target="#clothing">
                                    <a href="#">clothing</a>
                                    @foreach (var item in Model)
                                    {
                                            <ul class="sub-menu collapse show" id="clothing">
                                                  @if(item.category.CategoryName == "CLOTHING")
                                                      {
                                                            <li><a href="#">@item.product.Name</a></li>
                                                      }
                                            </ul>
                                    }
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                    <a href="#">shoes</a>
                                    @foreach (var shose in Model)
                                    {
                                        <ul class="sub-menu collapse" id="shoes">
                                            @if (shose.category.CategoryName == "SHOES")
                                            {
                                                <li><a href="#">@shose.product.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                    <a href="#">accessories</a>
                                    @foreach (var access in Model)
                                    {
                                        <ul class="sub-menu collapse" id="accessories">
                                            @if (access.category.CategoryName == "ACCESSORIES")
                                            {
                                                <li><a href="#">@access.product.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!-- ##### Single Widget ##### -->
                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Filter by</h6>
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Price</p>

                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="range-price">Range: $49.00 - $360.00</div>
                            </div>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <!-- ##### Single Widget ##### -->
                    <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Brands</p>
                        <div class="widget-desc">
                            @foreach (var item in ViewBag.brands)
                            {
                                <ul>
                                    <li><a href="#">@item.BrandName</a></li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>@Model.Count()</span> products found</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Highest Rated</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Oldest</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @foreach (var item in ViewBag.ResultsPage)
                        {
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    @*<input type="hidden" id="point" name="userID" value="@item.product.ProductId" />*@
                                    @*@Html.Partial("_PartialPopup" )*@
                                    <div class="product-img">
                                        <img src="~/ProductImage/@item.product.Image" alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="~/ProductImage/@item.product.Image1" alt="">

                                        <!-- Product Badge -->
                                        <div class="product-badge offer-badge">
                                            <span>-@item.product.Discount%</span>
                                        </div>
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>@item.brand.BrandName</span>
                                        <a href="~/Home/SingleProductDetails?id=@item.product.ProductId">
                                            <h6>@item.product.Description</h6>
                                        </a>
                                        <p class="product-price"><span class="old-price">$75.00</span> $@item.product.Price</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <button id="add-to-cart-@item.product.ProductId" class="btn essence-btn" onclicks="AddCart">Add to Cart</button>
                                                @*<a href="~/Shopping/AddProductToCart?productId=@item.product.ProductId" class="btn essence-btn">Add to Cart</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script type="text/javascript">

                                $("#add-to-cart-@item.product.ProductId").on("click", function () {

                                    swal({
                                        title: "Do You want to Add to carts?",
                                        text: "Once Added, you can still remove it from your cart list!",
                                        icon: "warning",
                                        buttons: true,
                                        dangerMode: true,
                                    })
                                        .then((willAdd) => {
                                            if (willAdd) {
                                                $.ajax({
                                                    type: "GET",
                                                    url: "/Home/Addart",
                                                    contentType: "application/json; charset=utf-8",
                                                    dataType: "json",
                                                    success: function (response) {

                                                        $('#exampleModal-@item.product.ProductId').modal('show');

                                                        //swal("Poof! Your profile has been deleted!", {
                                                        //    icon: "success",
                                                        //}).then(function () {
                                                        //    window.location.href = "/Home/Index"
                                                        //});
                                                    },
                                                    failure: function (response) {
                                                        alert(response.responseText);
                                                    },
                                                    error: function (response) {
                                                        alert(response.responseText);
                                                    }
                                                });
                                            }
                                            else {
                                                swal("You said NO !");
                                            }
                                        });

                                });

                                @*function AddCart() {
                                    swal({
                                        title: "Do You want to Add to carts?",
                                        text: "Once Added, you can still remove it from your cart list!",
                                        icon: "warning",
                                        buttons: true,
                                        dangerMode: true,
                                    })
                                        .then((willAdd) => {
                                            if (willAdd) {
                                                $.ajax({
                                                    type: "GET",
                                                    url: "/Home/Addart",
                                                    contentType: "application/json; charset=utf-8",
                                                    dataType: "json",
                                                    success: function (response) {

                                                        $('#exampleModal-@item.product.ProductId').modal('show');

                                                        //swal("Poof! Your profile has been deleted!", {
                                                        //    icon: "success",
                                                        //}).then(function () {
                                                        //    window.location.href = "/Home/Index"
                                                        //});
                                                    },
                                                    failure: function (response) {
                                                        alert(response.responseText);
                                                    },
                                                    error: function (response) {
                                                        alert(response.responseText);
                                                    }
                                                });
                                            }
                                            else {
                                                swal("You said NO !");
                                            }
                                        });
                                }*@

                            </script>

                            <div class="modal fade" id="exampleModal-@item.product.ProductId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Pls Pick your size and color</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        @using (Html.BeginForm("AddProductToCart", "Shopping", FormMethod.Post))
                                        {

                                            <div class="modal-body">
                                                <input type="text" id="pinpoint" name="userid" value="@item.product.ProductId" />
                                                <!-- Select Box -->
                                                <div class="select-box d-flex mt-50 mb-30">
                                                    <select name="selectsize" id="productSize" class="mr-5">
                                                        <option>Size: XL</option>
                                                        <option>Size: X</option>
                                                        <option>Size: M</option>
                                                        <option>Size: S</option>
                                                    </select>
                                                    <select name="selectcolor" id="productColor">
                                                        <option>Color: Black</option>
                                                        <option>Color: White</option>
                                                        <option>Color: Red</option>
                                                        <option>Color: Purple</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <div class="cart-fav-box d-flex align-items-center">
                                                    <!-- Cart -->
                                                    <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        }

                    </div>

                </div>

                @Html.PagedListPager((X.PagedList.IPagedList)ViewBag.ResultsPage, page => Url.Action("Shop", new { page }))

                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>




@*Trigger the modal with a button*@
@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>

            @using (Html.BeginForm("AddProductToCart", "Shopping", FormMethod.Post))
            {
                foreach (var item in ViewBag.ResultsPage)
                {
                    <input type="hidden" name="userid" value="@item.product.ProductId" />
                }
                <!-- Select Box -->
                <div class="select-box d-flex mt-50 mb-30">
                    <select name="selectsize" id="productSize" class="mr-5">
                        <option>Size: XL</option>
                        <option>Size: X</option>
                        <option>Size: M</option>
                        <option>Size: S</option>
                    </select>
                    <select name="selectcolor" id="productColor">
                        <option>Color: Black</option>
                        <option>Color: White</option>
                        <option>Color: Red</option>
                        <option>Color: Purple</option>
                    </select>
                </div>
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Cart -->
                    <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
                    <!-- Favourite -->
                    <div class="product-favourite ml-4">
                        <a href="#" class="favme fa fa-heart"></a>
                    </div>
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="~/Content/sweetalert.min.js"></script>




@*<script type="text/javascript">
        function AddCart() {
            swal({
                title: "Do You want to Add to carts?",
                text: "Once Added, you can still remove it from your cart list!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willAdd) => {
                    if (willAdd) {
                        $.ajax({
                            type: "GET",
                            url: "/Home/Addart",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                   $('#myModal').modal('show');
                                //swal("Poof! Your profile has been deleted!", {
                                //    icon: "success",
                                //}).then(function () {
                                //    window.location.href = "/Home/Index"
                                //});
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });
                    }
                    else {
                        swal("You said NO !");
                    }
                });
        }

    </script>*@