@model FashionWeb.Models.UserViewModel
@{
    ViewBag.Title = "GetProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var profileName = FashionHelpers.CommonHelpers.PublicHelper.GetActiveUser();
    var profile = FashionHelpers.CommonHelpers.PublicHelper.userProfile();
    var notification = FashionHelpers.CommonHelpers.NotificationPublucHelper.Notification();
    var userProfile = FashionHelpers.CommonHelpers.NotificationPublucHelper.newuser();
}

<!-- begin::main content -->
<!-- begin::page header -->
<div class="page-header">
    <h5>
        <i class="fa fa-user-circle-o m-r-5"></i>
        Profile
    </h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Admin/index">Index</a>
        </li>
        <li class="breadcrumb-item">
            Profile
        </li>
    </ol>
</div>
<!-- end::page header -->

<div class="row">
    <div class="col-md-4">

        <div class="card">
            <div class="card-body text-center">
                <figure class="avatar avatar-xl m-b-20">
                    @if (profileName.ImageName != null)
                    {
                        <img class="rounded-circle" src="~/Passports/@profileName.ImageName" width="30" , height="30" alt="">
                    }
                    else
                    {
                        <img src="../assets/media/img/avatar.jpg" class="rounded-circle" alt="...">
                    }
                </figure>
                <h5>@profileName.FirstName</h5>
                <p>@profileName.LastName</p>
                <p>@profileName.Email.</p>

                <button class=" btn btn-light btn-outline-light" onclick="Editprofileone(@profileName.ID)" >
                    <i class="ti-pencil m-r-5"></i> Edit Profile
                </button>
                @*<a href="#" class="btn btn-light btn-outline-light">
            <i class="ti-pencil m-r-5"></i> Edit Profile
        </a>*@

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Profile Completion</h5>
                </div>
                <div class="d-flex align-items-center">
                    <div class="icon-block icon-block-floating bg-light m-r-20">
                        <i class="fa fa-pencil"></i>
                    </div>
                    @if (profile.UserId.HasValue == false)
                    {
                        <div class="progress flex-grow-1">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="h6 mb-0 ml-3">50%</span>
                    }
                    else
                    {
                        <div class="progress flex-grow-1">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="h6 mb-0 ml-3">100%</span>
                    }

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between align-items-center">
                    <h5>Information</h5>
                    <button onclick="Editprofile(@profileName.ID)" class="editDialog  btn btn-light btn-outline-light btn-sm">
                        <i class="ti-pencil m-r-5"></i> Edit Profile
                    </button>
                    @*<a href="~/Admin/Myprofile?id=@profileName.ID" onclick="Update(@profileName.ID)"> class="editDialog  btn btn-light btn-outline-light btn-sm">
                        <i class="ti-pencil m-r-5"></i> Edit Profile
                    </a>*@
                    @*@Html.ActionLink("Edit", "Edit", new { id = profileName.ID }, new { @class = "editDialog" })*@
                </div>
                <div class="row mb-2">
                    <div class="col-6 text-muted">Age:</div>
                    <div class="col-6">@profile.Age</div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 text-muted">Position:</div>
                    <div class="col-6">@profile.Position</div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 text-muted">City:</div>
                    <div class="col-6">@profile.City</div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 text-muted">Address:</div>
                    <div class="col-6">@profile.Address</div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 text-muted">Phone:</div>
                    <div class="col-6">@profile.PhoneNumber</div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 text-muted">Description:</div>
                    <div class="col-6">@profile.Description.</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">

        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
                    <li class="flex-sm-fill text-sm-center nav-item">
                        <a class="nav-link active" id="hometimeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="home" aria-selected="true"> Notifications</a>
                    </li>
                    <li class="flex-sm-fill text-sm-center nav-item">
                        <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="profile" aria-selected="false">Photos</a>
                    </li>
                    <li class="flex-sm-fill text-sm-center nav-item">
                        <a class="nav-link" id="earnings-tab" data-toggle="tab" href="#earnings" role="tab" aria-controls="earnings" aria-selected="false">Earnings</a>
                    </li>
                </ul>

                <div class="tab-content p-t-30" id="myTabContent">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                            <div class="timeline">
                                @foreach (var item in notification)
                                {
                                    <div class="timeline-item">

                                        @if (@item.notification.Ischecked == true)
                                        {
                                            <div>
                                                <figure class="avatar avatar-sm m-r-15 bring-forward">
                                                    <img src="~/Passports/@item.p.Image" class="rounded-circle">
                                                </figure>
                                            </div>
                                            <div>
                                                <h6>Goods Sold </h6>
                                                <p class="m-b-5">@item.p.Description?</p>
                                                <small class="text-muted">
                                                    <i class="fa fa-clock-o m-r-5"></i> @item.p.AddedOn
                                                </small>
                                            </div>
                                        }

                                    </div>
                                }
                                </div>
                               
                            <div class="timeline">   
                                @foreach (var item in userProfile)
                                {
                                    <div class="timeline-item">
                                        @if (item.isNew == true)
                                        {
                                            <div>
                                                <figure class="avatar avatar-sm m-r-15 bring-forward">
                                                    <img src="~/Passports/@item.ImageName" class="rounded-circle">
                                                </figure>
                                            </div>
                                            <div>
                                                <h6>Add a new user</h6>
                                                <p class="m-b-5">@item.FirstName , @item.LastName?</p>
                                                <p class="m-b-5">@item.Email.</p>
                                                <small class="text-muted">
                                                    <i class="fa fa-clock-o m-r-5"></i>@item.AddedON
                                                </small>
                                            </div>
                                        }
                                    </div>   
                                }
                            </div>
                        </div>

                    }
                            <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                                <div class="row">
                                    <div class="col-lg-4 mb-3"><img class="img-fluid rounded" src="../assets/media/img/portfolio-one.jpg" alt="image"></div>
                                    <div class="col-lg-4 mb-3"><img class="img-fluid rounded" src="../assets/media/img/portfolio-two.jpg" alt="image"></div>
                                    <div class="col-lg-4 mb-3"><img class="img-fluid rounded" src="../assets/media/img/portfolio-three.jpg" alt="image"></div>
                                    <div class="col-lg-4 mb-3"><img class="img-fluid rounded" src="../assets/media/img/portfolio-four.jpg" alt="image"></div>
                                    <div class="col-lg-4 mb-3"><img class="img-fluid rounded" src="../assets/media/img/portfolio-five.jpg" alt="image"></div>
                                    <div class="col-lg-4 mb-3"><img class="img-fluid rounded" src="../assets/media/img/portfolio-six.jpg" alt="image"></div>
                                </div>
                                <div class="text-center p-t-5">
                                    <button class="btn btn-light btn-outline-light">
                                        <i class="ti-upload m-r-5"></i> Upload
                                    </button>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="earnings" role="tabpanel" aria-labelledby="earnings-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Item Sales Colunt</th>
                                                <th>Earnings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>monday, 12</td>
                                                <td>
                                                    3
                                                </td>
                                                <td>$400</td>
                                            </tr>
                                            <tr>
                                                <td>tuesday, 13</td>
                                                <td>
                                                    2
                                                </td>
                                                <td>$400</td>
                                            </tr>
                                            <tr>
                                                <td>wednesday, 14</td>
                                                <td>
                                                    3
                                                </td>
                                                <td>$420</td>
                                            </tr>
                                            <tr>
                                                <td>thursday, 15</td>
                                                <td>
                                                    5
                                                </td>
                                                <td>$500</td>
                                            </tr>
                                            <tr>
                                                <td>friday, 15</td>
                                                <td>
                                                    3
                                                </td>
                                                <td>$400</td>
                                            </tr>
                                            <tr>
                                                <td>saturday, 16</td>
                                                <td>
                                                    3
                                                </td>
                                                <td>$400</td>
                                            </tr>
                                            <tr>
                                                <td>sunday, 17</td>
                                                <td>
                                                    3
                                                </td>
                                                <td>$400</td>
                                            </tr>
                                            <tr>
                                                <td>monday, 18</td>
                                                <td>
                                                    3
                                                </td>
                                                <td>$500</td>
                                            </tr>
                                            <tr>
                                                <td>tuesday, 19</td>
                                                <td>
                                                    3
                                                </td>
                                                <td>$400</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2">Total:</th>
                                                <th>$3720</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
        </div>

    </div>
</div>
<!-- end::main content -->

<div class="modal fade" role="dialog" id="myModal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>

                <label for="infoh" id="info" name="info"></label>
                <input type="hidden" id="infoh" name="infoh" value="" />
            </div>
            @using (Html.BeginForm("profilechnge", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <div class="row">
                        <input type="hidden" name="userid" id="userid" value="@profileName.ID" />
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control form-control-lg" name="age" type="text" id="age" placeholder="age">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="position" name="position" type="text" placeholder="position">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-sm" name="phone" id="phone" type="text" placeholder="phone">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control form-control-lg" name="city" id="city" type="text" placeholder="city">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="address" id="address" placeholder="address">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-sm" name="description" id="description" type="text" placeholder="description">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="change" onclick="func(this)" name="change">@Html.Label("Edit") </button>
                </div>
            }
            </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="myModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>

                <label for="infoh" id="info" name="info"></label>
                <input type="hidden" id="infoh" name="infoh" value="" />
            </div>
            @using (Html.BeginForm("profilework", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                        <div class="modal-body">

                            <div class="row">
                                <input type="hidden" name="userid" id="userid" value="@profileName.ID" />
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-lg" name="fname" id="fname" type="text" placeholder="Fist Name">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="lname" id="lname" placeholder="Last Name">
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-lg" name="email" id="email" type="text" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="file" name="Image" placeholder="Image">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" id="change" onclick="Add()" name="change">@Html.Label("Edit") </button>
                        </div>
            }
        </div>
    </div>
</div>

    <script src="~/Content/sweetalert.min.js"></script>
    <script type="text/javascript">

        function Editprofile(clientId) {
            swal({
                title: " You are about to edit your profile ?",
                text: "Once modified, you will not be able to recover your profile!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willEdit) => {
                    if (willEdit) {
                        $.ajax({
                            type: "GET",
                            data: {
                                id: clientId
                            },
                            url: "/Admin/EditMyprofile1",
                            dataType: "json",
                            success: function (response) {

                                $('#age').val(response.Age); 
                                $('#position').val(response.Position); 
                                $('#phone').val(response.PhoneNumber); 
                                $('#city').val(response.City); 
                                $('#address').val(response.Address); 
                                $('#description').val(response.Description); 


                                $('#myModal1').modal('show');

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });

                    }
                    else {
                        swal("Your profil is safe!");
                    }
                });
        }


        /////////////////////////////////////////////////////////////////////// second//////////////////////////

        function Editprofileone(clientId) {
            swal({
                title: " You are about to edit your profile ?",
                text: "Once modified, you will not be able to recover your profile!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willEdit) => {
                    if (willEdit) {
                        $.ajax({
                            type: "GET",
                            data: {
                                id: clientId
                            },
                            url: "/Admin/EditMyprofile2",
                            dataType: "json",
                            success: function (response) {

                                $('#fname').val(response.FirstName); 
                                $('#lname').val(response.LastName); 
                                $('#email').val(response.Email); 

                                $('#myModal2').modal('show');

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });

                    }
                    else {
                        swal("Your profil is safe!");
                    }
                });
        }
    </script>
