@model  FashionWeb.Models.UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="~/sweetalert2/package/dist/Jquery.min.js"></script>
<link href="~/sweetalert2/package/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="~/sweetalert2/package/dist/sweetalert2.all.min.js"></script>

<!-- begin::main content -->
<!-- begin::page header -->
<div class="page-header">
    <h5>
        <i class="fa fa-table m-r-5"></i>
        User Table
    </h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Users</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">
                Tables
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="~/Account/Register">
                Add Users
            </a>
        </li>
    </ol>
</div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>isActive</th>
                    <th>Iamge</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.users)
                {
                <tr>
                    @if (item.isAdmin == true )
                    {
                        <td></td>
                        <td>@item.UserName</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.isActive</td>
                        <td><img class="rounded-circle" src="~/Passports/@item.ImageName" width="30" , height="30" alt=""></td>
                        <td>
                            <a href="~/Admin/Edit?id=@item.ID" class="btn btn-bd-primary">Edit</a>
                            <button id="link" onclick="Delete(@item.ID)" class="btn btn-bd-primary">Delete</button>
                        </td>
                    }
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>isActive</th>
                    <th>Iamge</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- end::main content -->


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-center">
                    <div class="icon-block icon-block-sm m-r-10">
                        <i class="ti-user"></i>
                    </div>
                    <h5 class="m-b-0">Visitor Channels</h5>
                </div>
                <div class="card-controls">
                    <a href="#" class="js-card-refresh">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                @*<th class="text-right">Action</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.users)
                            {
                                <tr>
                                    @if (item.isAdmin == false)
                                    {
                                        <td>
                                            @item.UserName
                                        </td>
                                        <td>
                                            @item.FirstName
                                        </td>
                                        <td>@item.LastName</td>
                                        <td>@item.Email</td>
                                    }

                                    @*<td class="text-right">
                                            <div class="dropdown">
                                                <a class="btn btn-light btn-sm btn-floating" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Action</a>
                                                    <a href="#" class="dropdown-item">Another action</a>
                                                    <a href="#" class="dropdown-item">Something else here</a>
                                                </div>
                                            </div>
                                        </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">

    function Delete(userId) {
        swal({
            title: "Are you sure?",
            text: "Once Deleted, you will not be able to recover the Data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        data: {
                            id: userId
                        },
                        url: "/Admin/Delete",
                        dataType: "json",
                        success: function (response) {
                            swal("Product Details Deleted Successfully !", {
                                icon: "success",
                            }).then(function () {
                                window.location.href = "/Admin/Index"
                            });

                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });

                }
                else {
                    swal("User Detail will not  Delete !");
                }
            });
    }

    function fix(userId)
    {
         swal({
            title: "Just Joking ooooooo?",
            text: "Not Real!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
    }
</script>